<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<table width="700" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="1%" rowspan="3" style="">&nbsp;</td>
    <td width="4%" align="center" valign="middle" style="color: #999; font-size: 24px;">1</td>
    <td width="15%" valign="middle" style="color: #333; font-size: 16px; font-weight: bold;">Join us <img src="green-checkmark_63x84.png" width="63" height="84" align="absmiddle" /></td>
    <td width="1%" rowspan="3" style="border-right-width: thin; border-right-style: dotted; border-right-color: #CCC;">&nbsp;</td>
    <td width="4%" align="center" valign="middle" style="color: #999; font-size: 24px;">2</td>
    <td width="17%" valign="middle" style="color: #333; font-size: 16px; font-weight: bold;">Pick a plan</td>
    <td width="1%" rowspan="3" style="border-right-width: thin; border-right-style: dotted; border-right-color: #CCC;">&nbsp;</td>
    <td width="4%" align="center" valign="middle" style="color: #999; font-size: 24px;">3</td>
    <td width="19%" valign="middle" style="color: #333; font-size: 16px; font-weight: bold;">Search and Download</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td valign="top" style="color: #333; font-size: 14px;">Good Job!</td>
    <td align="center" valign="top" style="color: #333">&nbsp;</td>
    <td valign="top" style="color: #333; font-size: 14px;">Now it's time to choose from our three awesome plans. Just click below to get started!</td>
    <td align="center" valign="top" style="color: #333">&nbsp;</td>
    <td valign="top" style="color: #333; font-size: 14px;">Once you've added credits you'll be all set to generate and download your report. Simple!</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
    <td align="center" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
    <td align="center" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table> 


</body>
</html>
