<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th align="center" scope="col"><h2><strong>EXACT MATCH DETAILS</strong><br />
    </h2></th>
  </tr>
</table>


<table width="100%" border="1" cellspacing="0" cellpadding="3">
  <tr>
    <td width="11%" align="left" bgcolor="#EEEEEE">Map ID: 12349</td>
    <td width="11%" align="left" bgcolor="#EEEEEE">DIST: 99.999</td>
    <td width="11%" align="left" bgcolor="#EEEEEE">DIR: WWW</td>
    <td width="15%" align="left" bgcolor="#EEEEEE">LAT: 47.999999</td>
    <td width="15%" align="left" bgcolor="#EEEEEE">LON: -122.999999</td>
    <td width="37%" align="left" bgcolor="#EEEEEE">Database: CSCSL</td>
  </tr>
  <tr>
    <td align="right" valign="top" bgcolor="#EEEEEE">Site Name:</td>
    <td colspan="5" align="left" valign="top" bgcolor="#EEEEEE">KING COUNTY RADIO SHOP</td>
  </tr>
  <tr>
    <td align="right" valign="top" bgcolor="#EEEEEE">Address:</td>
    <td colspan="5" align="left" valign="top" bgcolor="#EEEEEE">SQUAK MT Issaquah 98027</td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="15%" align="right" valign="top">Details:</td>
    <td width="85%" align="left" valign="top"><p>[Tank Name] : 171009<br />
        [Tank Status] : Closure in Process<br />
        [Install Date] : 1990-01-01<br />
        [Capacity Range] : 111 TO 1,100 Gallons<br />
        [Compartment ID] : 10168<br />
        [Compartment#] : 1<br />
    [Substance Stored] : Diesel</p></td>
  </tr>
</table>


</body>
</html>
