<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<p style="color: #E40000; font-weight: bold;">Step 1</p>
<p style="color: #FFC95A; font-weight: bold;">Step 2</p>
<p style="color: #00E800; font-weight: bold;">Step 3</p>
<hr />
<p><b style="color: #E40000; font-weight: bold;">*</b> Project Reference:</p>

<p><b style="color: #E40000; font-weight: bold;">&raquo;</b> Site Name:</p>
<p><b style="color: #E40000; font-weight: bold;">&raquo;</b> Site Location:</p>
<p><b style="line-height: 18px; font-size: 28px; color: #FFC95A; font-weight: bold;">&raquo;</b> (Update Settings)</p>
<p><b style="line-height: 18px; font-size: 28px; color: #00E800; font-weight: bold;">&#8226;</b> (Submit Report)</p>
<p><b style="line-height: 18px; font-size: 28px; color: #00E800; font-weight: bold;">*</b> (Submit Report)</p>
<p><b style="line-height: 18px; font-size: 28px; color: #00E800; font-weight: bold;">&#8226;</b> (Submit Report)</p>
</body>
</html>
