<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>


<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="30%" align="right"><strong> Project Reference: </strong></td>
    <td width="70%" align="left">field 1</td>
  </tr>
  <tr>
    <td align="right"><strong>Site Name:</strong></td>
    <td align="left">field 2</td>
  </tr>
  <tr>
    <td align="right"><strong>Site Location:</strong></td>
    <td align="left">field 3</td>
  </tr>
  <tr>
    <td align="right"><strong>Computed Coordinates:</strong></td>
    <td align="left">filed 4</td>
  </tr>
  <tr>
    <td colspan="2" align="center">hr goes here</td>
  </tr>
  <tr>
    <td align="right"><strong>name 6:</strong></td>
    <td align="left">field 6</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td align="right">&nbsp;</td>
    <td align="left">&nbsp;</td>
  </tr>
</table>
</body>
</html>
