<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th align="center" valign="middle" scope="col"><h2><strong>EXACT MATCH SUMMARY</strong></h2></th>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td align="right" valign="middle">[1 =  Release] [2 = Use] [3 = Use Restriction]</td>
  </tr>
</table>

<table width="100%" border="1" cellspacing="0" cellpadding="3">
  <tr>
    <td width="6%" align="center">Map ID</td>
    <td width="6%" align="center">Distance (miles)</td>
    <td width="6%" align="center">Direction</td>
    <td width="47%" align="center">Site Location</td>
    <td width="23%" align="center">Database</td>
    <td width="4%" align="center">1</td>
    <td width="4%" align="center">2</td>
    <td width="4%" align="center">3</td>
  </tr>
</table>
<table width="100%" border="1" cellspacing="0" cellpadding="3">
  <tr>
    <td width="6%" align="center">1</td>
    <td width="6%" align="center">1.25</td>
    <td width="6%" align="left">NNW</td>
    <td width="47%" align="left">GULASSA AND CO</td>
    <td width="23%" align="center">CERCLISNFRAP</td>
    <td width="4%" align="center">x</td>
    <td width="4%" align="center">x</td>
    <td width="4%" align="center">x</td>
  </tr>
</table>
</body>
</html>
