<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>
<body>


<table width="1050" border="0" cellspacing="0" cellpadding="3">
<tr>
<td><table width="95%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td valign="middle"><div align="right">RELEASE: <span style="color: #F00">RED</span></div></td>
    <td valign="middle"><div align="center">USE: <span style="color: #F9F509">YELLOW</span></div></td>
    <td valign="middle"><div align="left">USE RESTRICTION: <span style="color: #0F0">GREEN</span></div></td>
  </tr>
</table></td>
<td rowspan="2" width="30" align="left" valign="bottom">N</td>
</tr>
<tr>
<td><table width="95%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td align="right" valign="middle">0</td>
    <td width="234">&nbsp;</td>
    <td  align="left" valign="middle">1/4 mile</td>
  </tr>
  <tr>
    <td></td>
    <td><hr width="234" /></td>
    <td></td>
  </tr>
</table></td>
</tr>
</table>


</body>
</html>
