<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<table width="762" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="1%" rowspan="3" style="">&nbsp;</td>
    <td width="4%" align="center" valign="middle" style="color: #999; font-size: 24px;">1</td>
    <td width="15%" valign="middle" style="color: #333; font-size: 16px; font-weight: bold;">Register</td>
    <td width="1%" rowspan="3" style="border-right-width: thin; border-right-style: dotted; border-right-color: #CCC;">&nbsp;</td>
    <td width="4%" align="center" valign="middle" style="color: #999; font-size: 24px;">2</td>
    <td width="17%" valign="middle" style="color: #333; font-size: 16px; font-weight: bold;">Purchase</td>
    <td width="1%" rowspan="3" style="border-right-width: thin; border-right-style: dotted; border-right-color: #CCC;">&nbsp;</td>
    <td width="4%" align="center" valign="middle" style="color: #999; font-size: 24px;">3</td>
    <td width="19%" valign="middle" style="color: #333; font-size: 16px; font-weight: bold;">Generate &amp; Download</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td valign="top" style="color: #333; font-size: 14px;"><p>Register with ParCast to begin ordering radius reports. Registration is free and takes less than a minute to complete. </p></td>
    <td align="center" valign="top" style="color: #333">&nbsp;</td>
    <td valign="top" style="color: #333; font-size: 14px;"><p>We offer instant one-time purchases via Credit Card or Check, as well as  traditional invoicing, and unlimited subscription options. You choose.</p></td>
    <td align="center" valign="top" style="color: #333">&nbsp;</td>
    <td valign="top" style="color: #333; font-size: 14px;">Start generating radius reports... and download them within minutes.  Most ASTM reports take less than 90 seconds to generate- larger reports  take several minutes.</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
    <td align="center" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
    <td align="center" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table> 


</body>
</html>
