<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>


<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <th height="40" colspan="3" align="center" valign="middle" scope="col"><h2><strong>DISCLAIMER</strong></h2></th>
  </tr>
  <tr>
    <td width="5%" align="left" valign="middle"><p>&nbsp;</p></td>
    <td width="90%" align="left" valign="middle">Information in this Report has been collected and aggregated by Parcel Forecast,
LLC. from government agencies and other publicly-available repositories that
likely contain inaccuracies and incomplete data. The purpose of the Parcel
Forecast, LLC. aggregation is to provide our Customer with information in an easy
to use and understandable format. Parcel Forecast, LLC. cannot ensure the
accuracy of the data that was aggregated and maintained by others. WE DO
NOT WARRANT THAT THE REPORT WILL BE ERROR-FREE. TO THE EXTENT
PERMITTED BY APPLICABLE LAW, WE DISCLAIM AND EXCLUDE ALL
REPRESENTATIONS, WARRANTIES AND CONDITIONS WITH RESPECT TO THE
INFORMATION IN THE REPORT, WHETHER EXPRESS, IMPLIED OR STATUTORY,
OTHER THAN THOSE EXPRESSLY IDENTIFIED IN THIS AGREEMENT, INCLUDING,
WITHOUT LIMITATION, WARRANTIES OF NON-INFRINGEMENT, TITLE,
SATISFACTORY QUALITY, ACCURACY, RELIABILITY, MERCHANTABILITY, AND
FITNESS FOR A PARTICULAR PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY
LAW, OUR ENTIRE LIABILITY, AND YOUR ONLY REMEDY, FOR A BREACH OF A
WARRANTY WILL BE EITHER REPLACEMENT OF THE REPORT, OR RETURN OF THE
FEES YOU PAID FOR THE PRODUCT OR SERVICES. PARCEL FORECAST, LLC. AND ITS
THIRD PARTY LICENSORS WILL NOT BE LIABLE IN ANY EVENT TO YOU OR ANY
OTHER PERSON, REGARDLESS OF THE CAUSE, FOR THE EFFECTIVENESS OR
ACCURACY OF THE PRODUCTS, FOR THE COST OF PROCURING REPLACEMENT
GOODS OR SERVICES, OR FOR LOST PROFITS OR LOST SALES, OR FOR ANY
SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, EXEMPLARY, MULTIPLE OR
CONSEQUENTIAL DAMAGES ARISING FROM OR OCCASIONED BY YOUR USE OF
THE REPORTS, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. The
information in this report is provided &quot;as is&quot; and is not to be construed as legal
advice.</td>
    <td width="5%" align="left" valign="middle">&nbsp;</td>
  </tr>
</table>


</body>
</html>
