<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th align="center" valign="middle" scope="col"><h2><strong>TABULAR SUMMARY</strong></h2></th>
  </tr>
</table>


<table width="100%" border="1" cellspacing="0" cellpadding="3">
  <tr>
    <td width="44%" align="left" valign="middle">Database</td>
    <td width="8%" align="center" valign="middle">Search Radius (miles)</td>
    <td width="8%" align="center" valign="middle">&lt; 0.25</td>
    <td width="8%" align="center" valign="middle">0.25 to 0.50</td>
    <td width="8%" align="center" valign="middle">0.50 to 0.75</td>
    <td width="8%" align="center" valign="middle">0.75 to 1.00</td>
    <td width="8%" align="center" valign="middle">&gt; 1.00</td>
    <td width="8%" align="center" valign="middle">Total by Type</td>
  </tr>
</table>
<table width="100%" border="1" cellspacing="0" cellpadding="3">
  <tr>
    <td width="44%" align="left" valign="middle">NPL</td>
    <td width="8%" align="center" valign="middle">10.00</td>
    <td width="8%" align="center" valign="middle">1</td>
    <td width="8%" align="center" valign="middle">2</td>
    <td width="8%" align="center" valign="middle">6</td>
    <td width="8%" align="center" valign="middle">8</td>
    <td width="8%" align="center" valign="middle">2</td>
    <td width="8%" align="center" valign="middle">19</td>
  </tr>
</table>
</body>
</html>
